.cont {
    margin-left: 300px;
    position: fixed;
    width: 350%;
    height: 140%;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: -10px;
}

/*.test {
    position: relative;
    background: var(--white);
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
    margin-left: 200px;
    border-radius: 25px;
    margin-top: 100px;
}*/

.bar {
    width: 800px;
    height: 200px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
    border-radius: 25px;
    margin-left: 28%;
    margin-top: 30px;
    display: grid;
    border: none;
    /*background-color: white;*/
    
}

.box1 {
    width: 100%;
    height: 800px;
    padding: 400px;
    grid-template-columns: repeat(4,1fr);
    margin-left: -2%;
    
}

.box2 {
    width: 1300px;
    height: 550px;
    position: relative;
    background: var(--white);
    padding: 2%;
    margin-left: 20%;
    border-radius: 25px;
    margin-bottom: 45px;
    margin-top: -15%;
    margin-left: 5%;
}

.tekst {
    text-align: center;
    color: black;   
    margin-top: 15%;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}