@import url('https://fonts.googleapis.com/css2?family=unbunt:wght@300;400;500;700&display=swa');
body {
    background-image: url("img-slider-1.jpg");
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

table {
    background-color: rgb(48, 48, 48)
    
}
tr {
    background-color: rgb(0, 0, 0)
}


.Maandag {
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}

.Dinsdag {
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}

.Woensdag {
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}

.Donderdag {
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}

.Vrijdag {
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}


.tabel {
    color: rgb(255, 255, 255);
    margin-left: 250px;
    margin-top: 200px;
    text-align: center;
}

.button {
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 0.5s;
    justify-content: center;

}


  .submit {
    margin-left: 950px;
    text-align: center;
    margin-top: 10px;
  }

  

#textboxid
{
    height:50px;
    font-size:10pt;
}

.Drop-out-menu {
    height: 56px;
    width: 66px;
}

.Maandagtext {
    color: rgb(253, 0, 0);
}

.Drop-out-menu-maandag-vrijdag {
    height: 56px;
    width: 170px;
    text-align: center;
}


.scrollbar {
    overflow-x: auto;
}